<div>
  <h2 id="page-heading" data-cy="TMCOTIZACIONHeading">
    <span jhiTranslate="apicotizadorApp.tMCOTIZACION.home.title">TMCOTIZACIONS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tMCOTIZACION.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tmcotizacion"
        [routerLink]="['/tmcotizacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tMCOTIZACION.home.createLabel"> Create a new TMCOTIZACION </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tMCOTIZACIONS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tMCOTIZACION.home.notFound">No tMCOTIZACIONS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tMCOTIZACIONS && tMCOTIZACIONS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tMCOTIZACION.idCotizacion">Id Cotizacion</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tMCOTIZACION.usuario">Usuario</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tMCOTIZACION.fechaRegistro">Fecha Registro</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tMCOTIZACION.estatus">Estatus</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tMCOTIZACION.eliminada">Eliminada</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tMCOTIZACION of tMCOTIZACIONS; trackBy: trackIdCotizacion" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tmcotizacion', tMCOTIZACION.idCotizacion, 'view']">{{ tMCOTIZACION.idCotizacion }}</a>
          </td>
          <td>{{ tMCOTIZACION.usuario }}</td>
          <td>{{ tMCOTIZACION.fechaRegistro | formatMediumDate }}</td>
          <td>{{ tMCOTIZACION.estatus }}</td>
          <td>{{ tMCOTIZACION.eliminada }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tmcotizacion', tMCOTIZACION.idCotizacion, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tmcotizacion', tMCOTIZACION.idCotizacion, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tMCOTIZACION)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
