<div>
  <h2 id="page-heading" data-cy="TCESTATUSCOTIZACIONHeading">
    <span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.home.title">TCESTATUSCOTIZACIONS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tcestatuscotizacion"
        [routerLink]="['/tcestatuscotizacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.home.createLabel"> Create a new TCESTATUSCOTIZACION </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCESTATUSCOTIZACIONS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.home.notFound">No tCESTATUSCOTIZACIONS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCESTATUSCOTIZACIONS && tCESTATUSCOTIZACIONS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.idEstatusCotizacion">Id Estatus Cotizacion</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.orden">Orden</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCESTATUSCOTIZACION.estatusCotizacion">Estatus Cotizacion</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCESTATUSCOTIZACION of tCESTATUSCOTIZACIONS; trackBy: trackIdEstatusCotizacion" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tcestatuscotizacion', tCESTATUSCOTIZACION.idEstatusCotizacion, 'view']">{{
              tCESTATUSCOTIZACION.idEstatusCotizacion
            }}</a>
          </td>
          <td>{{ tCESTATUSCOTIZACION.orden }}</td>
          <td>{{ tCESTATUSCOTIZACION.estatusCotizacion }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tcestatuscotizacion', tCESTATUSCOTIZACION.idEstatusCotizacion, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tcestatuscotizacion', tCESTATUSCOTIZACION.idEstatusCotizacion, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCESTATUSCOTIZACION)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
