<div>
  <h2 id="page-heading" data-cy="TCTIPOREGLAHeading">
    <span jhiTranslate="apicotizadorApp.tCTIPOREGLA.home.title">TCTIPOREGLAS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCTIPOREGLA.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tctiporegla"
        [routerLink]="['/tctiporegla/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCTIPOREGLA.home.createLabel"> Create a new TCTIPOREGLA </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCTIPOREGLAS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCTIPOREGLA.home.notFound">No tCTIPOREGLAS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCTIPOREGLAS && tCTIPOREGLAS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCTIPOREGLA.idTipoRegla">Id Tipo Regla</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCTIPOREGLA.tipo">Tipo</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCTIPOREGLA.segmento">Segmento</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCTIPOREGLA of tCTIPOREGLAS; trackBy: trackIdTipoRegla" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tctiporegla', tCTIPOREGLA.idTipoRegla, 'view']">{{ tCTIPOREGLA.idTipoRegla }}</a>
          </td>
          <td>{{ tCTIPOREGLA.tipo }}</td>
          <td>{{ tCTIPOREGLA.segmento }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tctiporegla', tCTIPOREGLA.idTipoRegla, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tctiporegla', tCTIPOREGLA.idTipoRegla, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCTIPOREGLA)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
