<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tctipo-heading" data-cy="TCTIPOCreateUpdateHeading" jhiTranslate="apicotizadorApp.tCTIPO.home.createOrEditLabel">
        Create or edit a TCTIPO
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('idTipo')!.value == null">
          <label class="form-control-label" jhiTranslate="apicotizadorApp.tCTIPO.idTipo" for="field_idTipo">Id Tipo</label>
          <input
            type="number"
            class="form-control"
            name="idTipo"
            id="field_idTipo"
            data-cy="idTipo"
            formControlName="idTipo"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="apicotizadorApp.tCTIPO.tipoRegla" for="field_tipoRegla">Tipo Regla</label>
          <input type="text" class="form-control" name="tipoRegla" id="field_tipoRegla" data-cy="tipoRegla" formControlName="tipoRegla" />
          <div *ngIf="editForm.get('tipoRegla')!.invalid && (editForm.get('tipoRegla')!.dirty || editForm.get('tipoRegla')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoRegla')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
