<div>
  <h2 id="page-heading" data-cy="TCFACTORDESCUENTOHeading">
    <span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.home.title">TCFACTORDESCUENTOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tcfactordescuento"
        [routerLink]="['/tcfactordescuento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.home.createLabel"> Create a new TCFACTORDESCUENTO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCFACTORDESCUENTOS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.home.notFound">No tCFACTORDESCUENTOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCFACTORDESCUENTOS && tCFACTORDESCUENTOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.idFactorDescuento">Id Factor Descuento</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.factor">Factor</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCFACTORDESCUENTO.porcentaje">Porcentaje</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCFACTORDESCUENTO of tCFACTORDESCUENTOS; trackBy: trackIdFactorDescuento" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tcfactordescuento', tCFACTORDESCUENTO.idFactorDescuento, 'view']">{{
              tCFACTORDESCUENTO.idFactorDescuento
            }}</a>
          </td>
          <td>{{ tCFACTORDESCUENTO.factor }}</td>
          <td>{{ tCFACTORDESCUENTO.porcentaje }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tcfactordescuento', tCFACTORDESCUENTO.idFactorDescuento, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tcfactordescuento', tCFACTORDESCUENTO.idFactorDescuento, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCFACTORDESCUENTO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
