<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tCPRIMATARIFA">
      <h2 data-cy="tCPRIMATARIFADetailsHeading"><span jhiTranslate="apicotizadorApp.tCPRIMATARIFA.detail.title">TCPRIMATARIFA</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="apicotizadorApp.tCPRIMATARIFA.idPrimaTarifa">Id Prima Tarifa</span></dt>
        <dd>
          <span>{{ tCPRIMATARIFA.idPrimaTarifa }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCPRIMATARIFA.divPrimaTarifa">Div Prima Tarifa</span></dt>
        <dd>
          <span>{{ tCPRIMATARIFA.divPrimaTarifa }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCPRIMATARIFA.zNeta">Z Neta</span></dt>
        <dd>
          <span>{{ tCPRIMATARIFA.zNeta }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCPRIMATARIFA.divPrimaRiesgo">Div Prima Riesgo</span></dt>
        <dd>
          <span>{{ tCPRIMATARIFA.divPrimaRiesgo }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCPRIMATARIFA.zRiesgo">Z Riesgo</span></dt>
        <dd>
          <span>{{ tCPRIMATARIFA.zRiesgo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tcprimatarifa', tCPRIMATARIFA.idPrimaTarifa, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
