<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tcregional-heading"
        data-cy="TCREGIONALCreateUpdateHeading"
        jhiTranslate="apicotizadorApp.tCREGIONAL.home.createOrEditLabel"
      >
        Create or edit a TCREGIONAL
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('idRegional')!.value == null">
          <label class="form-control-label" jhiTranslate="apicotizadorApp.tCREGIONAL.idRegional" for="field_idRegional">Id Regional</label>
          <input
            type="number"
            class="form-control"
            name="idRegional"
            id="field_idRegional"
            data-cy="idRegional"
            formControlName="idRegional"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="apicotizadorApp.tCREGIONAL.regional" for="field_regional">Regional</label>
          <input type="text" class="form-control" name="regional" id="field_regional" data-cy="regional" formControlName="regional" />
          <div *ngIf="editForm.get('regional')!.invalid && (editForm.get('regional')!.dirty || editForm.get('regional')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('regional')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
