<div>
  <h2 id="page-heading" data-cy="TCSUBGRUPOHeading">
    <span jhiTranslate="apicotizadorApp.tCSUBGRUPO.home.title">TCSUBGRUPOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCSUBGRUPO.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tcsubgrupo"
        [routerLink]="['/tcsubgrupo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCSUBGRUPO.home.createLabel"> Create a new TCSUBGRUPO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCSUBGRUPOS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCSUBGRUPO.home.notFound">No tCSUBGRUPOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCSUBGRUPOS && tCSUBGRUPOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCSUBGRUPO.idSubGrupo">Id Sub Grupo</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCSUBGRUPO.subGrupo">Sub Grupo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCSUBGRUPO of tCSUBGRUPOS; trackBy: trackIdSubGrupo" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tcsubgrupo', tCSUBGRUPO.idSubGrupo, 'view']">{{ tCSUBGRUPO.idSubGrupo }}</a>
          </td>
          <td>{{ tCSUBGRUPO.subGrupo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tcsubgrupo', tCSUBGRUPO.idSubGrupo, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tcsubgrupo', tCSUBGRUPO.idSubGrupo, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCSUBGRUPO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
