<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tCRANGOPRIMA">
      <h2 data-cy="tCRANGOPRIMADetailsHeading"><span jhiTranslate="apicotizadorApp.tCRANGOPRIMA.detail.title">TCRANGOPRIMA</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="apicotizadorApp.tCRANGOPRIMA.idRangoPrima">Id Rango Prima</span></dt>
        <dd>
          <span>{{ tCRANGOPRIMA.idRangoPrima }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCRANGOPRIMA.valorMin">Valor Min</span></dt>
        <dd>
          <span>{{ tCRANGOPRIMA.valorMin }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCRANGOPRIMA.valorMax">Valor Max</span></dt>
        <dd>
          <span>{{ tCRANGOPRIMA.valorMax }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCRANGOPRIMA.dividendos">Dividendos</span></dt>
        <dd>
          <span>{{ tCRANGOPRIMA.dividendos }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCRANGOPRIMA.comision">Comision</span></dt>
        <dd>
          <span>{{ tCRANGOPRIMA.comision }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tcrangoprima', tCRANGOPRIMA.idRangoPrima, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
