<div>
  <h2 id="page-heading" data-cy="TCTIPOHeading">
    <span jhiTranslate="apicotizadorApp.tCTIPO.home.title">TCTIPOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCTIPO.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tctipo"
        [routerLink]="['/tctipo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCTIPO.home.createLabel"> Create a new TCTIPO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCTIPOS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCTIPO.home.notFound">No tCTIPOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCTIPOS && tCTIPOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCTIPO.idTipo">Id Tipo</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCTIPO.tipoRegla">Tipo Regla</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCTIPO of tCTIPOS; trackBy: trackIdTipo" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tctipo', tCTIPO.idTipo, 'view']">{{ tCTIPO.idTipo }}</a>
          </td>
          <td>{{ tCTIPO.tipoRegla }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tctipo', tCTIPO.idTipo, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tctipo', tCTIPO.idTipo, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCTIPO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
