<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tCREGIONAL">
      <h2 data-cy="tCREGIONALDetailsHeading"><span jhiTranslate="apicotizadorApp.tCREGIONAL.detail.title">TCREGIONAL</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="apicotizadorApp.tCREGIONAL.idRegional">Id Regional</span></dt>
        <dd>
          <span>{{ tCREGIONAL.idRegional }}</span>
        </dd>
        <dt><span jhiTranslate="apicotizadorApp.tCREGIONAL.regional">Regional</span></dt>
        <dd>
          <span>{{ tCREGIONAL.regional }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tcregional', tCREGIONAL.idRegional, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
