<div>
  <h2 id="page-heading" data-cy="TCOCUPACIONHeading">
    <span jhiTranslate="apicotizadorApp.tCOCUPACION.home.title">TCOCUPACIONS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCOCUPACION.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tcocupacion"
        [routerLink]="['/tcocupacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCOCUPACION.home.createLabel"> Create a new TCOCUPACION </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCOCUPACIONS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCOCUPACION.home.notFound">No tCOCUPACIONS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCOCUPACIONS && tCOCUPACIONS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCOCUPACION.idOcupacion">Id Ocupacion</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCOCUPACION.ocupacion">Ocupacion</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCOCUPACION.factorGiroAnterior">Factor Giro Anterior</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCOCUPACION.factorGiroActual">Factor Giro Actual</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCOCUPACION of tCOCUPACIONS; trackBy: trackIdOcupacion" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tcocupacion', tCOCUPACION.idOcupacion, 'view']">{{ tCOCUPACION.idOcupacion }}</a>
          </td>
          <td>{{ tCOCUPACION.ocupacion }}</td>
          <td>{{ tCOCUPACION.factorGiroAnterior }}</td>
          <td>{{ tCOCUPACION.factorGiroActual }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tcocupacion', tCOCUPACION.idOcupacion, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tcocupacion', tCOCUPACION.idOcupacion, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCOCUPACION)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
