<div>
  <h2 id="page-heading" data-cy="TCPRIMANETASDESCHeading">
    <span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.home.title">TCPRIMANETASDESCS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tcprimanetasdesc"
        [routerLink]="['/tcprimanetasdesc/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.home.createLabel"> Create a new TCPRIMANETASDESC </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tCPRIMANETASDESCS?.length === 0">
    <span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.home.notFound">No tCPRIMANETASDESCS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tCPRIMANETASDESCS && tCPRIMANETASDESCS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.idPrimaNetaSdesc">Id Prima Neta Sdesc</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.primaNetaSdesc">Prima Neta Sdesc</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.margenMin">Margen Min</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.margenMax">Margen Max</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.maxComSd">Max Com Sd</span></th>
          <th scope="col"><span jhiTranslate="apicotizadorApp.tCPRIMANETASDESC.maxComEp">Max Com Ep</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tCPRIMANETASDESC of tCPRIMANETASDESCS; trackBy: trackIdPrimaNetaSdesc" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tcprimanetasdesc', tCPRIMANETASDESC.idPrimaNetaSdesc, 'view']">{{ tCPRIMANETASDESC.idPrimaNetaSdesc }}</a>
          </td>
          <td>{{ tCPRIMANETASDESC.primaNetaSdesc }}</td>
          <td>{{ tCPRIMANETASDESC.margenMin }}</td>
          <td>{{ tCPRIMANETASDESC.margenMax }}</td>
          <td>{{ tCPRIMANETASDESC.maxComSd }}</td>
          <td>{{ tCPRIMANETASDESC.maxComEp }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tcprimanetasdesc', tCPRIMANETASDESC.idPrimaNetaSdesc, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tcprimanetasdesc', tCPRIMANETASDESC.idPrimaNetaSdesc, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tCPRIMANETASDESC)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
